<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/global.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>畅游客服中心</title>
  </head>
  <body>
    <div class="app-container bg centered">
      <!-- 选项卡 -->
      <div class="tabs">
        <a href="javascript:;" class="tab current">自助专区</a>
        <a href="javascript:;" class="tab">联系客服</a>
      </div>
    </div>
    <script type="text/javascript" src="../assets/libs/jquery/jquery-1.8.3.min.js"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      // 测试 html 压缩效果
      const blessings = "祝大家新年快乐,鼠年大吉，鼠你最棒！"
      console.log(blessings)
      // 下面可以放百度统计的代码
    </script>
  </body>
</html>
